@{
    ViewBag.Title = "Help";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/CustomStyle.css")" />
}

<div style="text-align: center; font-size: large;">
    Tech.: +45 51 20 35 84
    <br/>
    Other: +45 24 22 67 08
</div>
